@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Libre+Franklin:wght@200;400;600&display=swap');


:root{
    --cor-primaria: #232323;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #7615a7;
    --cor-quartenaria: #321c40;
    --cor-quintenaria: #8a4ee3;
    --cor-sextaria: #9c9c9c;

    --fonte-primaria: 'Kanit', sans-serif;
    --fonte-secundaria: 'Libre Franklin', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: (var(--cor-secundaria));
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{

    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);

}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-sextaria);

}

.apresentacao__links__navegar{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px inset var(--cor-terciaria);
    width: 350px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__link:hover{
    background-color: var(--cor-quartenaria)
}
.rodape{
    
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400px;
}
.foto__principal{
    width: 33%;
    border-radius: 2%;
    margin-top: -46%;
}
.foto__principal__about{
    width: 33%;
    border-radius: 2%;
}
.foto__principal__home{
    width: 33%;
    border-radius: 2%;

}
.python__sep{
    padding-bottom: 3%;
}
.apresentacao__conteudo__titulo__curriculo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);

}

@media (max-width: 1200px){

    .cabecalho{
        padding: 7%;
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}